.cart {
  cursor: pointer;
}
button {
  background-color: transparent;
  border: none;
  outline: none;
}
button:focus {
  background: none;
  outline: none;
}

:root {
  --accent100: #302442;
  --accent75: #067079;
  --accent50: #099caa;
  --accent25: #0bc9da;

  --secondary100: #ff8c1a;
  --secondary75: #eb4747;
  --secondary75h: #f07575;
  --secondary50: #ffbf80;
  --secondary25: #ffd9b3;

  --neutral100: #16181d;
  --neutral75: #414958;
  --neutral65: #737b8c;
  --neutral55: #abb0ba;
  --neutral50: #f0f2f4;
  --neutral45: #c4c9d4;
  --neutral25: #e2e4e9;
  --neutral15: #f0f2f4;
  --neutral0: #ffffff;
}
